.logo-img {
    width: 30%;
    height: auto;
}

@media (max-width: 768px) {
    .logo {
      text-align: center; 
      width: 100%; 
    }
    .logo-img {
      width: 60%; 
      height: 100%;
      margin-left: auto; 
      margin-right: auto; 
    }
}  

.right-image-desktop {
    display: block;  
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  @media (max-width: 768px) {
    .right-image-desktop {
      display: none; 
    }
  
    .right-image-mobile {
      display: block; 
      width: 100%;    
      margin-top: 20px; 
      height: 10vh; 
      object-fit: cover;
    }
  }