# ===============================
# 🌐 Environment Configuration
# ===============================

# The base URL of your backend API.
# - For local development, use the staging server URL
# - For staging, use the staging server URL
# - For production, use the live production API URL 

VITE_BASE_URL=
VITE_MAIN_BACKEND_URL=https://api.thedal.co.in
VITE_SECONDARY_BACKEND_URL=https://nscc448oksg0co8cwo08kkss.66.116.224.116.sslip.io
